<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home">
  <ion-row>
      <ion-col><ion-icon name="ionic" color="primary"></ion-icon></ion-col>
      <ion-col><ion-icon name="logo-angular"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart" color="danger"></ion-icon></ion-col>
  </ion-row>
</ion-content>
