page-home {
  ion-icon {
    font-size: 50px;
  }

  ion-row {
    height: 100%;
    flex-wrap: wrap;
  }

  ion-col {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
    padding: 10px 5px;
  }
}
